---
export interface Props {
  link: string | Record<string, string>;
}

const { link } = Astro.props;
---

{
  typeof link === "string" ? (
    <a href={link}>View Facebook event</a>
  ) : (
    <div class="flex flex-wrap gap-x-2">
      {Object.entries(link).map(([linkText, url]) => (
        <a href={url}>{linkText}</a>
      ))}
    </div>
  )
}
