---
export interface Props {
  link: string | Record<string, string>;
  class?: string;
}

const { link, class: className } = Astro.props;
---

{
  typeof link === "string" ? (
    <div class={className}>
      <a href={link}>View Facebook event</a>
    </div>
  ) : (
    <div class:list={["flex flex-wrap gap-x-2", className]}>
      {Object.entries(link).map(([linkText, url]) => (
        <a href={url}>{linkText}</a>
      ))}
    </div>
  )
}
