---
import { getCollection } from "astro:content";
import Card from "./Card.astro";

const { class: className } = Astro.props;
const tournaments = (await getCollection("tournaments")).sort(
  (a, b) => a.data.date.getTime() - b.data.date.getTime(),
);
---

<div class={className}>
  <h3>Upcoming tournaments</h3>
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-8 2xl:grid-cols-3">
    {tournaments.map((tournament) => <Card tournament={tournament} />)}
  </div>
</div>
