---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/blog/Card.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);
---

<Layout title="Blog">
  <h1>Blog</h1>
  <div class="mb-20 grid grid-cols-1 gap-4 md:grid-cols-3">
    {posts.map((post) => <Card post={post} />)}
  </div>
</Layout>
