---
import Intro from "../components/Intro.astro";
import Tournaments from "../components/tournaments/Tournaments.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="mt-48 -mb-2 text-center text-6xl">
    Welcome to <span class="text-ukqb-red">UK Quizbowl</span>
  </h1>
  <h2 class="text-center text-4xl font-normal">
    We do all things student buzzer quizzing.
  </h2>
  <Tournaments class="mt-40" />
  <Intro class="mt-40" />
</Layout>
