---
import Intro from "../components/Intro.astro";
import Tournaments from "../components/tournaments/Tournaments.astro";
import Layout from "../layouts/Layout.astro";
import InstagramIcon from "../components/icons/InstagramIcon.astro";
import BlueskyIcon from "../components/icons/BlueskyIcon.astro";
import YoutubeIcon from "../components/icons/YoutubeIcon.astro";
---

<Layout>
  <h1 class="mt-48 -mb-2 text-center text-6xl">
    Welcome to <span class="text-ukqb-red">UK Quizbowl</span>
  </h1>
  <h2 class="text-center text-4xl font-normal">
    We do all things student buzzer quizzing.
  </h2>
  <div class="fill-ukqb-red flex h-8 justify-center gap-x-4">
    <InstagramIcon />
    <BlueskyIcon />
    <YoutubeIcon />
  </div>
  <Tournaments class="mt-40" />
  <Intro class="mt-40" />
</Layout>
