---
import { Image } from "astro:assets";
import logo from "../assets/logo-cropped.png";
---
<!-- TODO: investigate padding + margin around the nav and ul, make sure p-2 is actually correct -->
<header
  id="header"
  class="bg-ukqb-red-bg sticky top-0 z-40 px-10 py-4 transition-all duration-300 flex"
>
  <a href="/" class="flex-1 flex items-center">
    <Image src={logo} alt="UK Quizbowl" class="h-8 w-auto"/>
  </a>
  <nav>
    <ul class="flex list-none items-center justify-center gap-x-12 pl-0">
      <li><a href="/blog">Blog</a></li>
      <li>Resources</li>
      <li>Videos</li>
      <li>About us</li>
    </ul>
  </nav>
  <div class="flex-1">

  </div>
</header>

<script is:inline>
  window.addEventListener("scroll", () => {
    const header = document.getElementById("header");
    if (window.scrollY >= 60) {
      header.classList.add("scrolled");
    } else {
      header.classList.remove("scrolled");
    }
  });
</script>
