---
import { getCollection } from "astro:content";
import Card from "./Card.astro";
import ChevronRight from "../icons/ChevronRight.astro";

const { class: className } = Astro.props;

const NUM_PREVIEW_POSTS = 6;
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);
---

<div class={className}>
  <h3>Blog</h3>
  <div class="grid-cols-1md:grid-cols-3 grid gap-4">
    {posts.slice(0, NUM_PREVIEW_POSTS).map((post) => <Card post={post} />)}
  </div>
  {
    posts.length > NUM_PREVIEW_POSTS && (
      <div class="mt-10 flex justify-center">
        <a
          href="/blog"
          class="flex items-center gap-x-1 text-inherit no-underline"
        >
          Read more
          <div class="h-5 w-5">
            <ChevronRight />
          </div>
        </a>
      </div>
    )
  }
</div>
