---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
const { title } = frontmatter;
---

<Layout title={title}>
  <div class="mx-auto md:max-w-[65ch]">
    <slot name="date" />
    <h1 class="text-4xl md:text-5xl">{title}</h1>
    <slot name="description" />
  </div>
  <slot name="image" />
  <div class="mx-auto text-lg leading-relaxed md:max-w-[65ch] md:text-xl">
    <!-- Centre images and captions (a caption is an emphasis element after an image element) -->
    <div
      class="[&_img]:mx-auto [&_img]:block [&_img]:h-auto [&_img]:max-w-full [&_p:has(img)+_p>em]:mt-2 [&_p:has(img)+_p>em]:mb-4 [&_p:has(img)+_p>em]:block [&_p:has(img)+_p>em]:text-center [&_p:has(img)+_p>em]:text-gray-600 [&_p:has(img)+_p>em]:italic"
    >
      <slot />
    </div>
  </div>
</Layout>
